html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  width: 79%;
  margin: 0 auto; }

h2, h3 {
  color: #3f3f3f; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header .menu {
    width: 40%;
    margin-left: 2.2%; }
    .header .menu .navig {
      display: flex;
      justify-content: center;
      font-size: 0; }
      .header .menu .navig .navig__item {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px; }
        .header .menu .navig .navig__item a {
          padding: 30% 0;
          width: 100%;
          text-align: center;
          font-size: 1.1rem;
          color: #3f3f3f;
          text-decoration: none; }
        .header .menu .navig .navig__item:hover {
          border-radius: 0 0 5px 5px;
          background: #3f3f3f; }
          .header .menu .navig .navig__item:hover a {
            color: #fff3cd; }
      .header .menu .navig .navig__item:nth-of-type(1) {
        width: 21%; }
      .header .menu .navig .navig__item:nth-of-type(2) {
        width: 26.5%; }
      .header .menu .navig .navig__item:nth-of-type(3) {
        width: 14%; }
      .header .menu .navig .navig__item:nth-of-type(4) {
        width: 11.5%; }
      .header .menu .navig .navig__item:nth-of-type(5) {
        width: 12%; }
      .header .menu .navig .navig__item:nth-of-type(6) {
        width: 16%; }
  .header .container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .container .logo {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .header .container .logo div {
        width: 175px;
        height: 175px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #df6267;
        margin-top: 170px;
        z-index: -1; }
        .header .container .logo div img {
          width: 85px; }
      .header .container .logo h1 {
        padding: 67px 0;
        margin-bottom: 80px;
        margin-right: 10px;
        font-size: 2.8rem;
        letter-spacing: 1px;
        word-spacing: 7px;
        font-weight: bold;
        text-align: center; }

.main__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid #d2d2d2;
  border-bottom: 2px solid #d2d2d2; }
  .main__top h2 {
    margin-top: 90px;
    padding: 60px 0 45px 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #3f3f3f; }
  .main__top p {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: #8b8989;
    padding-bottom: 120px;
    line-height: 36px; }

.gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .gallery .gallery__heading {
    display: flex;
    margin: 18px 0 16px 4px;
    padding-bottom: 65px;
    justify-content: space-between; }
    .gallery .gallery__heading h3 {
      font-size: 1.5rem;
      font-weight: bold;
      padding-left: 20px;
      word-spacing: 1px;
      letter-spacing: 1px;
      color: #3f3f3f; }
    .gallery .gallery__heading p {
      font-size: 1.3rem;
      color: #3f3f3f; }
  .gallery .gallery__images {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
    .gallery .gallery__images .gallery__images-line {
      display: flex;
      justify-content: center;
      margin-bottom: 80px; }
      .gallery .gallery__images .gallery__images-line a {
        width: 25vw;
        margin-right: 15px;
        display: flex;
        justify-content: center; }
        .gallery .gallery__images .gallery__images-line a img {
          width: 23.7vw;
          height: 290px; }
    .gallery .gallery__images .gallery__images-line:last-of-type {
      margin: 0; }

.portfolio {
  border-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #d2d2d2;
  margin-top: 70px; }
  .portfolio .portfolio__button {
    width: 24.5%;
    height: 75px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background: #df6267; }
    .portfolio .portfolio__button a {
      text-decoration: none;
      color: white;
      padding: 8% 0;
      text-align: center;
      width: 100%;
      font-size: 1.1rem; }
  .portfolio h2 {
    margin: 22px 0 44px 0;
    font-size: 1.6rem;
    font-weight: bold; }
  .portfolio p {
    text-align: center;
    margin-bottom: 63px;
    font-size: 1.2rem;
    line-height: 35px; }
  .portfolio p.special {
    color: #8b7d6b;
    margin-bottom: 25px; }

.portfolio:last-of-type h2 {
  color: black; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .footer .footer__list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 65px 0 60px 0; }
    .footer .footer__list .footer__list-item {
      padding: 0 1.4%;
      width: 6.3%; }
      .footer .footer__list .footer__list-item a {
        padding: 20px;
        font-size: 1.1rem;
        width: 100%;
        color: blue;
        text-decoration: none; }
  .footer p {
    margin: 10px 0 70px 0; }

/*# sourceMappingURL=style.css.map */
